@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #FFDAB9;

    font-size: 100%;
}

h1 {
    color: #A52A2A;
    text-align: center;
}

h2 {
    color: #000000;
    text-align: center;
}

h3 {
    color: #000000;
    text-align: center;
}

h4 {
    color: #000000;
    text-align: center;
}
