<!DOCTYPE html>
<html lang="en">
{% extends 'base_for.html' %}
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
</head>
<body>
    <content>
        {% block content %}
        <h1>Корзина</h1>
        <br>
            {% for item in cart_items %}
                <p>{{ item.service.title }} | {{ item.service.type }} | {{ item.service.program }}</p>
                <p>Количество: {{item.quantity}}</p>
                <p>Цена: {{ item.service.cost }} рублей</p>
                <a href='{% url "add_yet" item.id %}' style="text-decoration: none;" >Добавить еще</a><br>
                <a href='{% url "remove" item.id %}' style="text-decoration: none;" >Удалить</a><br><br>
            {% empty %}
                <h2><strong><em>Пополните корзину новыми покупками!</em></strong></h2>
                <br>
            {% endfor %}
        <p><b>Общая стоимость: {{total_cost}} рублей</b></p>
        <br>
        <a href="/services" style="text-decoration: none;">Продолжить покупки</a><br><br>
        <a href="#" style="text-decoration: none;">Оформить заказ</a>
        {% endblock %}
    </content>

    <menu>
        {% block menu %}
        {{ block.super }}
        {% endblock %}
    </menu>
</body>
</html>

