<!DOCTYPE html>
<html lang="en">
{% extends 'base_for.html' %}
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
</head>
<body>
    <content>
        {% block content %}
        <h1>Корзина</h1>
        <br>
        <p><h2><strong><em>Пополните корзину новыми покупками!</em></strong></h2></p>
        <br>
        {% if user.is_authenticated %}
            <p><h4>Добро пожаловать, {{ user.username }}!<a href="/logout"> Выйти</a></h4>
        {% else %}
            <p><h4><a href="/login">Войти</a> | <a href="/register">Зарегистрироваться</a></h4>
        {% endif %}
        {% endblock %}
    </content>

    <menu>
        {% block menu %}
        {{ block.super }}
        {% endblock %}
    </menu>
</body>
</html>