<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Главная страница</title>
        <link rel="stylesheet" href="{% static 'style1.css' %}">
        <style type="text/css">
            a:link {color: #800080}
            a:visited {color:#800080} /* цвет посещённой ссылки */
            a:hover {color:#A52A2A} /* цвет ссылки при наведении курсора мыши */
        </style>
    </head>
    <body>
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <h1>{{ message }}</h1>
            </div>
            {% endfor %}
        {% endif %}
        <menu>
            <div class="container">
                <ul>
                    <li><a href="http://127.0.0.1:8000/" style="text-decoration: none; ">Главная</a></li>
                    <li><a href="http://127.0.0.1:8000/about_us" style="text-decoration: none; ">О нас</a></li>
                    <li><a href="http://127.0.0.1:8000/services" style="text-decoration: none; ">Услуги</a></li>
                    <li><a href="http://127.0.0.1:8000/cart" style="text-decoration: none; ">Корзина</a></li>
                    <li><a href="http://127.0.0.1:8000/register" style="text-decoration: none; ">Регистрация</a></li>
                    <li><a href="http://127.0.0.1:8000/login" style="text-decoration: none; ">Вход</a></li>
                </ul>
            </div>
        </menu>
    </body>
</html>
